<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <title>Your Cart</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="theme-color" content="#000000"/>
        <meta name="description"/>
        <img
            alt="Logo"
            src="https://appproject.dhiwise.com/dhiwise-logo.png?c=&v="
            style="width: 0px; height: 0px; display: none"
        />
        
        <link rel="stylesheet" type="text/css" href="./css/index.css"/>
        <link rel="stylesheet" type="text/css" href="./css/font.css"/>
        <link rel="stylesheet" type="text/css" href="./css/styles.css"/>
        <link rel="stylesheet" type="text/css" href="./css/components.css"/>
        <link rel="stylesheet" type="text/css" href="./css/FrameTwo.css"/>
        <link rel="stylesheet" href="css/bootstrap-5.3.3-dist/css/bootstrap.css" />
    </head>

    <body>
    <!-- main content section -->
    <div class="columnfree_user_icon-one">
        <div class="columnfreeuseri">
        <!-- header section -->
        <header>
            <div class="header__top-row">
                <div class="flex-col-center-center header__logo-column">
                    <p class="header__logo ui text size-text3x1">Logo</p>
                </div>

                <div class="header__user-row logout_btn">
                    <img src="public/images/user_ico.png" alt="User Icon" class="header__user-icon"/>
                    <p style="font-family: Comic Neue;" class="ui text size-textlg">Log in/Log out</p>
                </div>
            </div>

            <div class="header__nav-row">
                <ul class="header__nav-menu">
                    <li>
                        <a href="#" class="menu-item">
                        <p style="font-family: Darker Grotesque" class="header__menu-item ui text size-textxl">Menu</p>
                        </a>
                    </li>

                    <li>
                        <a href="#" class="menu-item">
                        <p style="font-family: Darker Grotesque" class="ui text size-textxl">Your cart</p>
                        </a>
                    </li>

                    <li class=""> 
                        <a href="#" class="menu-item">
                        <p style="font-family: Darker Grotesque" class="ui text size-textxl">Profile</p>
                        </a>
                    </li>
                </ul>
            </div>
        </header>

        <div class="columnview">
            <p class="frame-one__our-menu ui text size-text4x1">Your cart</p>
        </div> 

        
        <!-- cart summary section -->
        <div class="stackview">
            <!-- product list section -->
             <div class="columnview-1">
                <!-- product item section -->
                <div class="section">
                    <!-- delivery options section -->
                    <div class="section__column--left">
                        <div class="section__column--right">
                            <div>
                                <div class="section__image-row">

                                    <!-- блок для отображения контента -->
                                    <div class="row_for_info">
                                        <img src="public/images/ice_sample.png" alt="Ice Cream Image" class="section__image" />
                                        <div class="section__details">
                                            <div class="section__details-row">
                                                <div class="section__details-column">
                                                    <p class="section__name ui text size-text3x1">Name 1</p>
                                                    <p class="section__description ui text size-textlg">
                                                        Short info about ice cream in one/ two rows
                                                    </p>
                                                </div>
                                                <div class="section__price-row">
                                                    <div class="section__quantity-row">
                                                        <div class="section__quantity-stack">
                                                            <div class="section__quantity-view--decrement">
                                                                <p class="section__quantity-symbol--decrement ui text size-text3x1">-</p>
                                                            </div>
                                                        </div>
                                                        <p class="section__quantity-number ui text size-textlg">1</p>
                                                        <div class="section__quantity-stack--increment">
                                                            <div class="section__quantity-view--increment">
                                                                <p class="section__quantity-symbol--increment ui text size-text3x1">+</p>
                                                            </div>  
                                                        </div>
                                                    </div>
                                                    <p class="section__delivery-method--pickup ui text size-text2x1">9,00 Kč</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- блок для отображения контента -->
                                    
                                    
                                    <!-- блок для отображения контента -->
                                    <div class="row_for_info">
                                        <img src="public/images/ice_sample.png" alt="Ice Cream Image" class="section__image" />
                                        <div class="section__details">
                                            <div class="section__details-row">
                                                <div class="section__details-column">
                                                    <p class="section__name ui text size-text3x1">Name 1</p>
                                                    <p class="section__description ui text size-textlg">
                                                        Short info about ice cream in one/ two rows
                                                    </p>
                                                </div>
                                                <div class="section__price-row">
                                                    <div class="section__quantity-row">
                                                        <div class="section__quantity-stack">
                                                            <div class="section__quantity-view--decrement">
                                                                <p class="section__quantity-symbol--decrement ui text size-text3x1">-</p>
                                                            </div>
                                                        </div>
                                                        <p class="section__quantity-number ui text size-textlg">1</p>
                                                        <div class="section__quantity-stack--increment">
                                                            <div class="section__quantity-view--increment">
                                                                <p class="section__quantity-symbol--increment ui text size-text3x1">+</p>
                                                            </div>  
                                                        </div>
                                                    </div>
                                                    <p class="section__delivery-method--pickup ui text size-text2x1">9,00 Kč</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- блок для отображения контента -->


                                </div>
                            </div>

                            <div>  
                            <div class="section__delivery-row">
                                <div class="section__delivery-column">
                                    <h1 class="ui heading size-headings">Delivery method</h1>
                                    <div class="section__delivery-options">
                                        <div class="section__delivery-option-row--home">
                                            <p class="section__delivery-method--pickup ui text size-text2x1">
                                                Home delivery via partners
                                            </p>
                                            <div class="section__delivery-line--home"></div>
                                            <p class="section__delivery-method--pickup ui text size-text2x1">Pick up from the point</p>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- order summary section -->
                    <div class="section__info-column">
                        <div class="section__info-column-inner">
                            <div class="section__info-column-inner--address">
                                <h2 class="section__address-title ui heading size-headingxs">Select delivery address</h2>
                                <div class="section__products-row">
                                    <h3 class="section__products-quantity ui heading size-headingxs">Products: 1pc</h3>
                                    <p class="section__products-price ui text size-textmd">9,00 Kč</p>
                                </div>
                                <div class="section__total-row">
                                    <h4 class="ui heading size-headinglg">Total</h4>
                                    <h5 class="ui heading size-headingmd">9,00 Kč</h5>
                                </div>
                                <div class="section__order-stack">
                                    <div class="section__order-view"></div>
                                    <h6 class="section__order-text ui heading size-headinglg">Order</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</div>
</div>

<footer class="panel-footer">
    <div class="container">
      <div class="row">
        <section id="hours" class="col-sm-4">
          <span>Hours:</span><br>
          Daily from 8:00 to 20:00<br><br>
          <span>Phone:</span><br>
          987-654-321
        </section>

        <section id="address" class="col-sm-4">
          <span>Address:</span><br>
          500 Terry Francine St.<br>
          San Francisco,<br>
          CA 94158<br>
        </section>

        <section id="testimonials" class="col-sm-4">
          <p id="social">Social's</p>

          <a href="https://www.facebook.com/wix" id="social_links">
            <img src="public/images/facebook.png" alt="instagram" id="foot_img_inst">
            <div href="" id="foot_text"><b>FACEBOOK &nbsp &nbsp</b></div>
          </a>

          <a href="https://www.twitter.com/wix" id="social_links" class="what">
            <img src="public/images/instagram.png" alt="instagram" id="foot_img_inst">
            <div href="" id="foot_text"><b>TWITTER &nbsp &nbsp &nbsp </b></div>
          </a>

          <a href="https://www.instagram.com/wix" id="social_links">
            <img src="public/images/twit.png" alt="instagram" id="foot_img_inst">
            <div href="" id="foot_text"><b>INSTAGRAM</b></div>
          </a>

        </section>
      </div>
      <hr class="visible-xs">
      <div class="text-center">&copy; 2035 by Gelato. Powered and secured by Wix</div>
    </div>
  </footer>

</body>
</html>