
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Explore Our Menu - Delicious Ice Cream Selections</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#000000" />
    <meta
        name="description"
        content="Discover our menu and choose from a variety of ice cream flavors. Add your favorite selections to your"/>

    <img
        alt="Logo"
        src="https://appproject.dhiwise.com/dhiwise-logo.png?c=&v="
        style="width: 0px; height: 0px; display: none" />
    <link rel="stylesheet" type="text/css" href="./css/index.css" />
    <link rel="stylesheet" type="text/css" href="/css/font.css" />
    <link rel="stylesheet" type="text/css" href="./css/styles.css" />
    <link rel="stylesheet" type="text/css" href="./css/components.css" />
    <link rel="stylesheet" type="text/css" href="./css/FrameOne.css" />
    <link rel="stylesheet" href="css/bootstrap-5.3.3-dist/css/bootstrap.css" />
    
</head>

<body>
    <div class="columnfree_user_icon-one">
    <!-- header section -->
        <header>
            <div class="header__top-row">
                <div class="flex-col-center-center header__logo-column">
                    <p class="header__logo ui text size-text3x1">Logo</p>
                </div>

                <div class="header__user-row logout_btn">
                    <img src="public/images/user_ico.png" alt="User Icon" class="header__user-icon"/>
                    <form th:action="@{/logout}" method="post">
                        <button style="font-family: Comic Neue;" class="ui text size-textlg" type="submit">Log in/Log out</button>
                    </form>
                </div>
            </div>

            <div class="header__nav-row">
                <ul class="header__nav-menu">
                    <li>
                        <a href="#" class="menu-item">
                        <p style="font-family: Darker Grotesque" class="header__menu-item ui text size-textxl">Menu</p>
                        </a>
                    </li>

                    <li>
                        <a href="#" class="menu-item">
                        <p style="font-family: Darker Grotesque" class="ui text size-textxl">Your cart</p>
                        </a>
                    </li>

                    <li class=""> 
                        <a href="#" class="menu-item">
                        <p style="font-family: Darker Grotesque" class="ui text size-textxl">Profile</p>
                        </a>
                    </li>
                </ul>
            </div>
        </header>

    <!-- main content section -->
        <div class="columnview">
            <p class="frame-one__our-menu ui text size-text4x1">Our menu</p>
        </div> 

        <!-- menu list section -->
        <div class="container-fluid">
            <div class="row">
                <div class="product-details col-xl-4 col-md-6 col-sm-12" th:each="product : ${products}">
                        <img class="ice_img" th:src="@{'/public/images/' + ${product.image}}" alt="Product Image">
                        <p class="product-details__name ui text size-text3x1" th:text="${product.name}"></p>
                        <div class="product-details__divider"></div>
                        <p class="product-details__description ui text size-textlg" th:text="${product.description}"></p>
                        <div class="product-details__stock">
                            <p class="product-details__stock-quantity ui text size-text3x1" th:text="'In stock: ' + ${product.availableAmount}"></p>
                            <p class="product-details__price ui text size-textxl" th:text="${product.price} + ' Kč'"></p>
                        </div>
                        <button class="product-details__add-button ui button lime_300_f9 size-xl fill round">Add to order</button>
                </div>
            </div>
        </div>
    <div>


    <br>

    <footer class="panel-footer">
        <div class="container">
          <div class="row">
            <section id="hours" class="col-sm-4">
              <span>Hours:</span><br>
              Daily from 8:00 to 20:00<br><br>
              <span>Phone:</span><br>
              987-654-321
            </section>
    
            <section id="address" class="col-sm-4">
              <span>Address:</span><br>
              500 Terry Francine St.<br>
              San Francisco,<br>
              CA 94158<br>
            </section>
    
            <section id="testimonials" class="col-sm-4">
              <p id="social">Social's</p>
    
              <a href="https://www.facebook.com/wix" id="social_links">
                <img src="public/images/facebook.png" alt="instagram" id="foot_img_inst">
                <div href="" id="foot_text"><b>FACEBOOK &nbsp &nbsp</b></div>
              </a>
    
              <a href="https://www.twitter.com/wix" id="social_links" class="what">
                <img src="public/images/instagram.png" alt="instagram" id="foot_img_inst">
                <div href="" id="foot_text"><b>TWITTER &nbsp &nbsp &nbsp </b></div>
              </a>
    
              <a href="https://www.instagram.com/wix" id="social_links">
                <img src="public/images/twit.png" alt="instagram" id="foot_img_inst">
                <div href="" id="foot_text"><b>INSTAGRAM</b></div>
              </a>
    
            </section>
          </div>
          <hr class="visible-xs">
          <div class="text-center">&copy; 2035 by Gelato. Powered and secured by Wix</div>
        </div>
      </footer>

</body>
</html>